{% extends 'base.html' %}

{% block content %}

  <section class="hero">
    <div class="container flex flex-col items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
      <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">Welcome to Project Amayo</h1>
        <p class="max-w-sm text-center text-black md:text-left uppercase font-bold">A website by medical students for
          medical students</p>
      </div>
      <div class="md:w-1/2">
        An image, an SVG preferably
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container flex flex-col items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
      <div class="md:w-1/2">
        An image, an SVG preferably
      </div>
      <div class="flex flex-col space-y-12 md:w-1/2">
        <h2>About the Project</h2>
        <p class="max-w-sm text-center text-black md:text-left uppercase font-bold">A paragraph(s) about the project,
          why we decided to do it and what you can find on the website. (Maybe a shout-out or acknowledgement of the
          people behind it)</p>
      </div>
    </div>
  </section>
  <section class="amayo">
    <div class="container flex flex-col items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
      <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">Who is Amayo</h1>
        <p class="max-w-sm text-center text-black md:text-left uppercase font-bold">A website by medical students for
          medical students</p>
      </div>
      <div class="md:w-1/2">
        An image of Amayo
      </div>
    </div>
  </section>

  {% endblock %}