{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amayo</title>
  {% tailwind_css %}
</head>

<body>
  <!-- navbar -->
  <nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <!-- the logo text-->
      <div>
        <h1 class="text-black text-xl font-bold">Amayo</h1>
      </div>

      <!-- Menu Items -->
      <div class="hidden space-x-6 md:flex">
        <a href="{% url 'home' %}" class="hover:text-teal">Home</a>
        <a href="#" class="hover:text-teal">About Us</a>
        <a href="#" class="hover:text-teal">Announcements</a>
        <a href="{% url 'papers' %}" class="hover:text-teal">Past papers</a>
        <a href="#" class="hover:text-teal">School guide</a>
        <a href="#" class="hover:text-teal">Pricing</a>
      </div>

      <!-- Button -->
      <a href="#" class="p-3 px-6 pt-2 bg-black text-white rounded-full baseline hover:bg-teal md:block">Get
        Started</a>
    </div>
  </nav>
  <div class="flex justify-end">
    <form class="mr-4">
      <label for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </div>
        <input type="search" id="default-search" class="block p-4 mr-4 pl-10 w-full text-sm" placeholder="Search"
          required>
        <button type="submit"
          class="text-white absolute right-2.5 bottom-2.5 bg-black-700 hover:bg-black-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>
  </div>

  <section class="papers">
    <h1>Here we will view papers</h1>
  </section>
  
  <!-- Footer -->
  <footer class="bg-cyan">
    <!-- Flex Container -->
    <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
      <!-- Logo and social links container -->
      <div
        class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
        <div class="mx-auto my-6 text-center text-white md:hidden">
          Copyright &copy; 2022, All Rights Reserved
        </div>
        <!-- Logo Text -->
        <!-- <div>
          <img src="img/logo-white.svg" class="h-8" alt="" />
        </div> -->
        <div>
          <h1 class="text-white text-xl font-bold">Amayo</h1>
        </div>
        <!-- Social Links Container -->
        <div class="flex justify-center space-x-4">
          <!-- Link 1 -->
          <a href="#">
            <img src="#" alt="" class="h-8" />
          </a>
          <!-- Link 2 -->
          <a href="#">
            <img src="#" alt="" class="h-8" />
          </a>
          <!-- Link 3 -->
          <a href="#">
            <img src="#" alt="" class="h-8" />
          </a>
          <!-- Link 4 -->
          <a href="#">
            <img src="#" alt="" class="h-8" />
          </a>
        </div>
      </div>
      <!-- List Container -->
      <div class="flex justify-around space-x-32">
        <div class="flex flex-col space-y-3 text-white">
          <a href="#" class="hover:text-yellow">Home</a>
          <a href="#" class="hover:text-yellow">About us</a>
          <a href="#" class="hover:text-yellow">Announcements</a>
          <a href="#" class="hover:text-yellow">School guide</a>
        </div>
        <div class="flex flex-col space-y-3 text-white">
          <a href="#" class="hover:text-yellow">Pricing</a>
          <a href="#" class="hover:text-yellow">Contact us</a>
          <a href="#" class="hover:text-yellow">Privacy Policy</a>
        </div>
      </div>

      <!-- Input Container -->
      <div class="flex flex-col justify-between">
        <form>
          <div class="flex space-x-3">
            <input type="text" class="flex-1 px-4 rounded-full focus:outline-none"
              placeholder="Updated in your inbox" />
            <button class="px-6 py-2 text-white rounded-full bg-black hover:bg-cyan focus:outline-none">
              Go
            </button>
          </div>
        </form>
        <div class=" text-white md:block">
          Copyright &copy; 2023, All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
</body>

</html>